<div layout="row" layout-fill ng-cloak class="admin-page">

  <md-sidenav class="md-sidenav-left md-whiteframe-z2" role="sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <!-- toolbar da sidenav -->
    <md-toolbar class="md-tall md-hue-2" layout-align="end end" style="background:#43a047;">
      <div class="md-toolbar-tools" layout style="padding:8px;">
        <md-icon md-svg-src="rocket" style="margin: 0 8px;"></md-icon>
        <div layout="column">
          <span class="md-body-2">{{projeto1.nomeProjeto | limitTo:20}}...</span>
          <span class="md-caption">{{projetoEmail}}</span>
        </div>
        <span flex></span>
        <!-- <md-button class="md-icon-button" aria-label="User Settings" ng-click="toast('Logout')">
        <md-icon md-svg-src="rocket"></md-icon>
      </md-button> -->
    </div>
  </md-toolbar>
  <!-- menu da sidenav -->
  <md-content role="navigation">
    <md-list data-ng-repeat="section in data.sidenav.sections">
      <!-- não botar data no ng-click abaixo -->
      <md-list-item ng-click="section.expand = !section.expand" ui-sref="{{section.link}}">
        <p class="md-subheader" style="color:#424242;">{{section.name}}</p>
        <span flex></span>
        <!-- <md-icon class="md-primary md-icon-button"></md-icon> -->
        <md-icon data-ng-if="section.link === undefined" md-svg-src="{{section.expand ? 'chevron-up' : 'chevron-down'}}" style="color:#424242;"></md-icon>
      </md-list-item>
      <md-list-item data-ng-show="section.expand" data-ng-repeat="action in section.actions" ui-sref="{{action.link}}">
        <md-icon md-svg-src="{{action.icon}}"></md-icon>
        <p class="md-body-2">{{action.name}}</p>
        <!-- <span flex></span> -->
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>

<!-- conteúdo da página -->
<section layout="column" role="main" flex>
  <md-toolbar role="toolbar" style="background:#424242;">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-sm aria-label="Menu">
        <md-icon md-svg-src="menu"></md-icon>
      </md-button>
      <h4 class="md-title">{{header}}</h4>
      <span flex></span>
      <md-menu>
        <md-button aria-label="Open demo menu" layout="row" class="hide-hover" style="height:45px;" ng-click="$mdOpenMenu($event)">
          <div style="width:45px;height:45px;border-radius:50%;background:white;">
            <span style="color:#424242;font-size:17px;line-height:45px;">A</span>
          </div>
          <md-icon md-svg-src="menu-down"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="toast('affffffff','failed-toast')">Option 1</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="home.update">Dados da conta</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button data-ng-click="logout()">Sair</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>

  <!-- conteúdo dinâmico -->
  <section id="content" role="content" layout="column" layout-padding style="overflow:auto!important;background:#fdfdfd;">
    <div ui-view></div>
  </section>
</section>
</div>
