<section>
  <div layout="column" align-center="center center" class="green darken-1 md-whiteframe-2dp home-container1">
    <span>A fase de inscrição dos projetos foi <b>encerrada</b>. Em alguns dias será divulgado 
      a lista dos projetos selecionados para participarem da 5ª edição da
      Mostra Venâncio-airense de Cultura e Inovação.</span>
    <span style="margin-top:20px;">Att. Equipe Organizadora da V MOVACI.</span>
  </div>
</section>
<!-- <section style="margin-top:10px;">
  <div layout="column" align-center="center center" class="green darken-1 md-whiteframe-2dp home-container1">
    <span style="text-align:center;">O prazo para alteração do projeto foi encerrado dia 29/08/2016.</span>
  </div>
</section> -->
<section>
  <div layout="column" layout-align="center center" align="center" class="md-whiteframe-2dp home-container2">
    <div class="home-title">
      <h4>{{projeto.nomeProjeto}}</h4>
    </div>
    <div class="home-resumo">
      <p>{{projeto.resumo}}</p>
    </div>
  </div>
</section>
