
        <li><a href="#/login">Login</a></li>

<div class="wrapper-registro">
   <h1 class="center-align">Inscrição de Projetos</h1>

   <div class="md-padding" layout="column" layout-align="center center" data-ng-cloak>

   <md-content layout-padding style="width:100%!important;">
      <form name="projetoForm" novalidate>    
         <md-input-container class="md-block" flex-gt-sm>
            <label>Nome do Projeto</label>
            <input type="text" name="nomeProjeto" data-ng-model="projeto.nomeProjeto" required minlength="2" />
            <div class="md-errors-spacer">
               <div data-ng-if="projetoForm.nomeProjeto.$dirty || projetoForm.nomeProjeto.$touched">
                  <div class="message-error" data-ng-if="projetoForm.nomeProjeto.$error.required">Preencha esse campo.</div>
                  <div class="message-error" data-ng-if="projetoForm.nomeProjeto.$error.pattern && projetoForm.nomeProjeto.$touched">Email Inválido.</div>
               </div>
            </div>
         </md-input-container>
         <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
               <label>Categoria...</label>
               <md-select name="categoria" data-ng-model="projeto.categoria">
                  <md-optgroup label="Categorias">
                     <md-option data-ng-value="x.categoria" data-ng-repeat="x in listaCategorias" data-ng-click="selectEixos(x.categoria)">{{x.categoria}}</md-option>
                  </md-optgroup>
               </md-select>
               {{projeto.categoria}}
               <div class="md-errors-spacer">
                  <div data-ng-if="projetoForm.eixo.$touched">
                     <div class="message-error" data-ng-if="projetoForm.eixo.$error.required">Selecione uma opção.</div>
                  </div>
               </div>
            </md-input-container>
            <div flex="5" hide-xs hide-sm></div>
            <md-input-container class="md-block" flex-gt-sm>
               <label>Eixo Temático...</label>
               <md-select name="eixo" data-ng-model="projeto.eixo" required>
                  <md-optgroup label="Eixos Temáticos">
                     <md-option data-ng-value="y" data-ng-repeat="y in eixos">{{y}}</md-option>
                  </md-optgroup>
               </md-select>
               <div class="md-errors-spacer">
                  <div data-ng-if="projetoForm.area.$touched">
                     <div class="message-error" data-ng-if="projetoForm.area.$error.required">Selecione uma opção.</div>
                  </div>
               </div>
            </md-input-container>
         </div>
         <hr>
         <div layout-gt-sm="row" data-ng-controller="autocompleteCtrl as ctrl"> 
            <!-- <md-input-container class="md-block" flex-gt-sm> -->
            <md-autocomplete flex="100"
                  md-no-cache="ctrl.noCache"
                  md-selected-item="ctrl.selectedItem"
                  md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                  md-search-text="ctrl.searchText"
                  md-selected-item-change="ctrl.selectedItemChange(item)"
                  md-items="item in ctrl.querySearch(ctrl.searchText)"
                  md-item-text="item.display"
                  md-min-length="0"
                  placeholder="Nome da Instituição de origem">
               <md-item-template>
                  <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
               </md-item-template>
               <md-not-found>
                  No states matching "{{ctrl.searchText}}" were found.
                  <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
               </md-not-found>
            </md-autocomplete>
            <!-- </md-input-container> -->
         </div>
         <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
               <label>Estado</label>
               <md-select name="estado" data-ng-model="projeto.estado" required>
                  <md-option data-ng-value="z.nome" data-ng-repeat="z in listaEstados" data-ng-click="selectCidades(z.nome)">{{z.nome}}</md-option>
               </md-select>
               <div class="md-errors-spacer">
                  <div data-ng-if="projetoForm.estado.$touched">
                     <div class="message-error" data-ng-if="projetoForm.estado.$error.required">Selecione uma opção.</div>
                  </div>
               </div>
            </md-input-container>
            <div flex="5" hide-xs hide-sm></div>
            <md-input-container class="md-block" flex-gt-sm>
               <label>Cidade</label>
               <md-select name="cidade" data-ng-model="user.selectedItem" required>
                  <md-option data-ng-value="c" data-ng-repeat="c in cidades">{{c}}</md-option>
               </md-select>
               <div class="md-errors-spacer">
                  <div data-ng-if="projetoForm.cidade.$touched">
                     <div class="message-error" data-ng-if="projetoForm.cidade.$error.required">Selecione uma opção.</div>
                  </div>
               </div>
            </md-input-container>
         </div>
         <hr>
         <md-button class="md-raised md-primary teal lighten-1" data-ng-disabled="!projetoForm.$valid || !PasswordValid" data-ng-click="registrar(projeto)">
            <md-icon md-font-icon="Material Icons" ng-style="{'font-size':'16px', height:'16px', 'padding-right':'5px'}">done
            </md-icon>Finalizar
         </md-button>
      </form>
   </md-content>

</div>

<!-- <md-input-container class="md-block" flex-gt-sm>
               <label>E-mail</label>
               <input type="email" name="email" data-ng-model="user.email" required data-ng-pattern="/^.+@.+\..+$/" />
               <div class="md-errors-spacer">
                  <div data-ng-if="projetoForm.email.$dirty || projetoForm.email.$touched">
                     <div class="message-error" data-ng-if="projetoForm.email.$error.required">Preencha esse campo.</div>
                     <div class="message-error" data-ng-if="projetoForm.email.$error.pattern && projetoForm.email.$touched">Email inválido.</div>
                  </div>
               </div>
            </md-input-container> -->
  
      
    {{registro}}
    {{msg}}
    

    
    
    
</div>
